# *.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# CDK Template file
template.yaml

# virtual environment used for testing
env

# vscode
.vscode

.DS_Store
package-lock.json
.idea
__pycache__
.env

venv/
.secrets
lambdas/thumbnailgenerator/docker.env
.aws-sam
